In [1]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
#Convertimos el dataset en dataframe
df= pd.read_csv("Milan.csv")
df.head(2)

,Unnamed: 0,scrape_id,last_scraped,source,name,description,neighborhood_overview,host_id,host_url,host_name,...,last_review,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
0,0,20250619031327,2025-06-19,city scrape,Loft with garden on Naviglio Grande,gorgeous loft with garden. Very quiet and comf...,"Neighborhood made by artists, designers, pubs,...",2643876,https://www.airbnb.com/users/show/2643876,Barbara,...,2023-01-01,4.22,4.00,4.22,4.56,4.25,4.22,IT015146C2XCMAQN43,1,0.06
1,1,20250619031327,2025-06-19,city scrape,2 rooms apartment in downtown Milan,NaN,The apartment is close to Ticinese going out a...,1442498,https://www.airbnb.com/users/show/1442498,Elena,...,2024-04-16,4.29,4.43,4.29,4.64,4.50,3.93,IT015146C2GRLPV2TY,1,0.13

In [33]:
df1 = df.drop(columns=["Unnamed: 0"])
df1.head(2)

,scrape_id,last_scraped,source,name,description,neighborhood_overview,host_id,host_url,host_name,host_since,...,last_review,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
0,20250619031327,2025-06-19,city scrape,Loft with garden on Naviglio Grande,gorgeous loft with garden. Very quiet and comf...,"Neighborhood made by artists, designers, pubs,...",2643876,https://www.airbnb.com/users/show/2643876,Barbara,2012-06-15,...,2023-01-01,4.22,4.00,4.22,4.56,4.25,4.22,IT015146C2XCMAQN43,1,0.06
1,20250619031327,2025-06-19,city scrape,2 rooms apartment in downtown Milan,NaN,The apartment is close to Ticinese going out a...,1442498,https://www.airbnb.com/users/show/1442498,Elena,2011-11-25,...,2024-04-16,4.29,4.43,4.29,4.64,4.50,3.93,IT015146C2GRLPV2TY,1,0.13

In [36]:
#Eliminar un signo de una columna 
df1['price']= df1['price'].str.replace('$','')
df1['price']= df1['price'].str.replace(',','')

In [37]:
#Conversion de  tipo de datode columna de tipo Object a Float 
df1['price']= df1['price'].astype(float)

In [40]:
#1. Los host que se hayan registrado antes del 31 de dic del 2022. 
#Filtro por objeto
filtro=df1[df1["host_since"] < "2022-12-31"]

#Los registros de los host que responden “a más tardar en 1 día”
#Filtro por objeto
filtro=df1[(df1["host_response_time"] == "within a day") | (df1["host_response_time"] == "within an hour") | (df1["host_response_time"] == "within a few hours")]

#Que sea casa o apartamento completo o un cuarto privado. 
#Filtro o
filtro=df1[(df1["room_type"] == "Entire home/apt") | (df1["room_type"] == "Private room")]

#Que tengan maximo 2 camas. 
#Filtro por comparacion
filtro=df1[df1["beds"] <=2]

#Que el host este catalogado como superhost.
#Filtro por comparacion
filtro=df1[df1["host_is_superhost"] == "t"]

#Que tenga 1 baño.
#Filtro por comparacion
filtro=df1[df1["bathrooms"] == 1]

#Que el costo sea de $300 a $1000
#Filtro Y
filtro=df1[(df1["price"] >=300) & (df1["price"] <=1000)]

filtro.head(2)

,scrape_id,last_scraped,source,name,description,neighborhood_overview,host_id,host_url,host_name,host_since,...,last_review,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
4,20250619031327,2025-06-19,city scrape,Milano Central Luxury - 3 BDR / 7 Guests,"A stylish and cozy apartment, beautifully furn...","The Central Luxury apartment, is located just ...",2718914,https://www.airbnb.com/users/show/2718914,Nicola,2012-06-23,...,2025-05-20,4.82,4.90,4.89,4.89,4.76,4.71,IT015146B4CCMWJAB7,27,0.91
21,20250619031327,2025-06-19,city scrape,Porta Vigentina Triplex in City Center,The apartment is in a beautiful 18C building a...,NaN,380378,https://www.airbnb.com/users/show/380378,Andrea,2011-02-07,...,2024-04-21,4.67,4.89,5.00,5.00,4.89,4.33,NaN,1,0.06

In [41]:
#Convertir archivo filtrado a CSV
filtro.to_csv("Filtrado.csv")